
.header {
  text-align: center;
  background: url("https://cdn.tourradar.com/s3/tour/original/79329_51048c99.jpg");
  background-size: cover;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.body {
    background-color: black;
}
